{% load static %}
<nav class="py-2 border-bottom sticky-top"
     style="background-color: #616161; --bs-navbar-active-color: #ebe8e8">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">
        <li class="nav-item"><a href="#" class="nav-link link-light px-2 active" aria-current="page">Главная</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-light px-2">Продукты</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-light px-2">О сайте</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-light px-2">Обратная связь</a></li>
        {% if user.is_staff %}
          <li class="nav-item"><a href="{% url 'fill_database' %}" class="nav-link link-light px-2">Добавить продукты</a></li>
        {% endif %}
      </ul>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link link-light px-2" href="#">Корзина</a>
        </li>
        {% if not user.is_authenticated %}
        <li class="nav-item dropdown" style="padding-left: 40px">
          <a class="nav-link dropdown-toggle link-light px-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Aвторизация
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'login' %}">Войти</a></li>
            <li><a class="dropdown-item" href="{% url 'register' %}">Регистрация</a></li>
          </ul>
        </li>
        {% else %}
        <li class="nav-item dropdown" style="padding-left: 40px">
          <a class="nav-link dropdown-toggle link-light px-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Привет {{ user.username }}!
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Профиль</a></li>
            <li><a class="dropdown-item" href="#">Заказы</a></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Выйти</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>
    </div>
</nav>
<header class="py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
      <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
        <img class="bi me-2" width="40" height="32" src="{% static 'img/box-fill.svg' %}">
        <span class="fs-4">PROфиль|PROкат</span>
      </a>
      <form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
        <input type="search" class="form-control" placeholder="Поиск..." aria-label="Search">
      </form>
    </div>
</header>